<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyShindig | Comming Soon Page</title>
    <!-- <link rel="stylesheet" href="<%= static_path(@conn, "/css/font-awesome.min.css") %>" type="text/css">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/animate.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/style.css") %>"> -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebasneueregular" type="text/css"/>

  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>


    <footer class="footer">
      <div class="container">
         <div class="row bort">

           <div class="copyright">
                © Copyright MyShindig. All rights reserved.
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
           </div>

         </div>
      </div>
    </footer>
    <!-- <script src="<%= static_path(@conn, "/js/jquery.min.js")%>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js")%>"></script>
    <script src="<%= static_path(@conn, "/js/wow.js")%>"></script> -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
